ShapeFile/

**/*.csv
**/*.xlsx
**/*.mat
**/*.txt
**/*.asv
**/*.xls
**/*.rar
**/*.tfw
**/*.tif
**/*.tif.*
**/*.zip
**/*.png
**/*.fig
**/*.shp
**/*.dbf
**/*.shx


**/**/*.csv
**/**/*.xlsx
**/**/*.mat
**/**/*.txt
**/**/*.asv
**/**/*.xls
**/**/*.rar
**/**/*.tfw
**/**/*.tif
**/**/*.tif.*
**/**/*.zip
**/**/*.png
**/**/*.fig
**/**/*.shp
**/**/*.dbf
**/**/*.shx


**/**/**/*.csv
**/**/**/*.xlsx
**/**/**/*.mat
**/**/**/*.txt
**/**/**/*.asv
**/**/**/*.xls
**/**/**/*.rar
**/**/**/*.tfw
**/**/**/*.tif
**/**/**/*.tif.*
**/**/**/*.zip
**/**/**/*.png
**/**/**/*.fig
**/**/**/*.shp
**/**/**/*.dbf
**/**/**/*.shx

