**/*.csv
**/*.xlsx
**/*.mat
**/*.txt
**/*.asv
**/*.xls
**/*.rar
**/*.tfw
**/*.tif
**/*.tif.*
**/*.zip
**/*.png
**/*.fig

**/**/*.csv
**/**/*.xlsx
**/**/*.mat
**/**/*.txt
**/**/*.asv
**/**/*.xls
**/**/*.rar
**/**/*.tfw
**/**/*.tif
**/**/*.tif.*
**/**/*.zip
**/**/*.png
**/**/*.fig

**/**/**/*.csv
**/**/**/*.xlsx
**/**/**/*.mat
**/**/**/*.txt
**/**/**/*.asv
**/**/**/*.xls
**/**/**/*.rar
**/**/**/*.tfw
**/**/**/*.tif
**/**/**/*.tif.*
**/**/**/*.zip
**/**/**/*.png
**/**/**/*.fig


